<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nutrition Capstone</title>
</head>
<body>
<h1 style="text-align: center">Nutrition Facts Database & API</h1>

<h3 style="text-align: center; width: 75%; margin: auto;">
    Welcome to this working prototype! The goal of this API is to gather
    information on food vendor offerings and their associated nutritional
    facts. This website was developed as part of my capstone project for the
    Udacity fullstack nanodegree program.
    You can find the original repo and documentation on API usage
    <a href={{ github_url }} target="_blank">Here.</a> In order to
    use the API you must first create an account, you may
    <a href={{ login_url }} target="_blank">Login/Register Here.</a>
</h3>

</body>
</html>